<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index2.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Demo1</servlet-name>
        <servlet-class>servlet.Demo1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Demo1</servlet-name>
        <url-pattern>/servlet.Demo1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Demo2</servlet-name>
        <servlet-class>Demo2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Demo2</servlet-name>
        <url-pattern>/Demo2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>insert</servlet-name>
        <servlet-class>servlet.insert</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>insert</servlet-name>
        <url-pattern>/servlet.insert</url-pattern>
    </servlet-mapping>
</web-app>